[user]
    name = tittama
[color]
    ui = auto
[core]
    # 日本語ファイル名が文字化けしないように表示する
    quotepath = false
[alias]
    a = add
    b = branch
    c = commit
    co = checkout
    d = diff
    dn = diff --name-only
    dw = diff --color-words
    gr = grep
    h = help
    s = status --short --branch
    st = status
    p = push
    pl = pull
    l = log --date=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn %Creset%s'
    ll = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
    lg = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
    lm = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
    su = submodule update
[push]
    # カレントブランチと同名のリモートブランチがあればpush
    default = current

